[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@github.com:LubosRemplik/snipmate.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/searchcomplete"]
	path = bundle/searchcomplete
	url = git://github.com/vim-scripts/SearchComplete
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://github.com/vim-scripts/vcscommand.vim.git
[submodule "bundle/php"]
	path = bundle/php
	url = git://github.com/vim-scripts/php.vim--Garvin.git
[submodule "bundle/checksyntax"]
	path = bundle/checksyntax
	url = git://github.com/tomtom/checksyntax_vim.git
[submodule "bundle/phpfolding"]
	path = bundle/phpfolding
	url = git://github.com/vim-scripts/phpfolding.vim.git
[submodule "bundle/phpdoc"]
	path = bundle/phpdoc
	url = git://github.com/vim-scripts/PDV--phpDocumentor-for-Vim.git
